<!-- Title Page -->
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(<%= image_path "heading-pages-06.jpg" %>);">
		<h2 class="l-text2 t-center">
			Hoodies
		</h2>
		<p class="m-text13 t-center">
			Classic men's hoodies
		</p>
	</section>


	<!-- Content page -->
	<section class="bgwhite p-t-55 p-b-65">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
					<div class="leftbar p-r-20 p-r-0-sm">
						<!--  -->


						<!--  -->
						<h4 class="m-text14 p-b-32">
							Filters
						</h4>

						<div class="search-product pos-relative bo4 of-hidden">
							<input class="s-text7 size6 p-l-23 p-r-50" type="text" name="search-product" placeholder="Search Products...">

							<button class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4">
								<i class="fs-12 fa fa-search" aria-hidden="true"></i>
							</button>
						</div>

						<div class="filter-price p-t-22 p-b-50 bo3">
							<div class="m-text15 p-b-17">
								Price
							</div>

							<div class="wra-filter-bar">
								<div id="filter-bar"></div>
							</div>

							<div class="flex-sb-m flex-w p-t-16">
								<div class="w-size11">
									<!-- Button -->
									<button class="flex-c-m size4 bg7 bo-rad-15 hov1 s-text14 trans-0-4">
										Filter
									</button>
								</div>

								<div class="s-text3 p-t-10 p-b-10">
									Range: $<span id="value-lower">610</span> - $<span id="value-upper">980</span>
								</div>
							</div>
						</div>



					</div>
				</div>

				<div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
					<!--  -->
					<div class="flex-sb-m flex-w p-b-35">

						<span class="s-text8 p-t-5 p-b-5">
							Showing 1–12 of 12 results
						</span>
					</div>

					<!-- Product -->
					<div class="row">
						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                                    <%= image_tag "hoody2.jpg", alt:"Black Zippy" %>

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="/products/details?category=hoodies&amount=75&p_name=Black Zippy&img=hoody2.jpg" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Buy Now
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/products/details?category=hoodies&amount=75&p_name=Black Zippy&img=hoody2.jpg" class="block2-name dis-block s-text3 p-b-5">
										Black Zippy
									</a>

									<span class="block2-price m-text6 p-r-5">
                                    €75.00
									</span>
								</div>
							</div>
						</div>

						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
                                    <%= image_tag "hoody3.jpg", alt:"IMG-PRODUCT" %>

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="/products/details?category=hoodies&amount=92.5&p_name=Solid Grey&img=hoody3.jpg" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Buy Now
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/products/details?category=hoodies&amount=92.5&p_name=Solid Grey&img=hoody3.jpg" class="block2-name dis-block s-text3 p-b-5">
										Solid Grey
									</a>

									<span class="block2-price m-text6 p-r-5">
                                        €92.50
									</span>
								</div>
							</div>
						</div>

						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
                                <div class="block2-img wrap-pic-w of-hidden pos-relative">
                                    <%= image_tag "hoody1.jpg", alt:"IMG-PRODUCT" %>

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="/products/details?category=hoodies&amount=55.99&p_name=Pink Hoody&img=hoody1.jpg" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Buy Now
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/products/details?category=hoodies&amount=55.99&p_name=Pink Hoody&img=hoody1.jpg" class="block2-name dis-block s-text3 p-b-5">
										Pink Hoody
									</a>

									<span class="block2-price m-text6 p-r-5">
                                    €55.99
									</span>
								</div>
							</div>
						</div>


						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
									<%= image_tag "hoody4.jpg", alt:"IMG-PRODUCT" %>

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="/products/details?category=hoodies&amount=55.99&p_name=Black Hoody&img=hoody4.jpg" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Buy Now
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/products/details?category=hoodies&amount=55.99&p_name=Black Hoody&img=hoody4.jpg" class="block2-name dis-block s-text3 p-b-5">
										Black Hoody
									</a>

									<span class="block2-price m-text6 p-r-5">
                                    €55.99
									</span>
								</div>
							</div>
						</div>


						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
									<%= image_tag "hoody5.jpg", alt:"IMG-PRODUCT" %>

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="/products/details?category=hoodies&amount=55.99&p_name=Grey Logo Hoody&img=hoody5.jpg" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Buy Now
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/products/details?category=hoodies&amount=55.99&p_name=Grey Logo Hoody&img=hoody5.jpg" class="block2-name dis-block s-text3 p-b-5">
										Grey Logo Hoody
									</a>

									<span class="block2-price m-text6 p-r-5">
                                    €55.99
									</span>
								</div>
							</div>
						</div>


						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
									<%= image_tag "hoody6.jpg", alt:"IMG-PRODUCT" %>

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="/products/details?category=hoodies&amount=75.00&p_name=Parallel Hoody&img=hoody6.jpg" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Buy Now
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/products/details?category=hoodies&amount=75.00&p_name=Parallel Hoody&img=hoody6.jpg" class="block2-name dis-block s-text3 p-b-5">
										Parallel Hoody
									</a>

									<span class="block2-price m-text6 p-r-5">
                                    €75.00
									</span>
								</div>
							</div>
						</div>


						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
									<%= image_tag "hoody7.jpg", alt:"IMG-PRODUCT" %>

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="/products/details?category=hoodies&amount=55.99&p_name=Black Logo Hoody&img=hoody7.jpg" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Buy Now
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/products/details?category=hoodies&amount=55.99&p_name=Pink Hoody&img=hoody7.jpg" class="block2-name dis-block s-text3 p-b-5">
										Black Logo Hoody
									</a>

									<span class="block2-price m-text6 p-r-5">
                                    €55.99
									</span>
								</div>
							</div>
						</div>


						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
									<%= image_tag "hoody8.jpg", alt:"IMG-PRODUCT" %>

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="/products/details?category=hoodies&amount=70.00&p_name=Boss Hoody&img=hoody8.jpg" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Buy Now
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/products/details?category=hoodies&amount=70.00&p_name=Boss Hoody&img=hoody8.jpg" class="block2-name dis-block s-text3 p-b-5">
										Boss Hoody
									</a>

									<span class="block2-price m-text6 p-r-5">
                                    €70.00
									</span>
								</div>
							</div>
						</div>

						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
									<%= image_tag "hoody9.jpg", alt:"IMG-PRODUCT" %>

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="/products/details?category=hoodies&amount=39.99&p_name=Tan Hoody&img=hoody9.jpg" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Buy Now
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/products/details?category=hoodies&amount=39.99&p_name=Tan Hoody&img=hoody9.jpg" class="block2-name dis-block s-text3 p-b-5">
										Tan Hoody
									</a>

									<span class="block2-price m-text6 p-r-5">
                                    €39.99
									</span>
								</div>
							</div>
						</div>

						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
									<%= image_tag "hoody10.jpg", alt:"IMG-PRODUCT" %>

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="/products/details?category=hoodies&amount=55.99&p_name=White Hoody&img=hoody10.jpg" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Buy Now
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/products/details?category=hoodies&amount=55.99&p_name=White Hoody&img=hoody10.jpg" class="block2-name dis-block s-text3 p-b-5">
										White Hoody
									</a>

									<span class="block2-price m-text6 p-r-5">
                                    €55.99
									</span>
								</div>
							</div>
						</div>

						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
									<%= image_tag "hoody11.jpg", alt:"IMG-PRODUCT" %>

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="/products/details?category=hoodies&amount=55.99&p_name=Green Hoody&img=hoody11.jpg" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Buy Now
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/products/details?category=hoodies&amount=55.99&p_name=Green Hoody&img=hoody11.jpg" class="block2-name dis-block s-text3 p-b-5">
										Green Hoody
									</a>

									<span class="block2-price m-text6 p-r-5">
                                    €55.99
									</span>
								</div>
							</div>
						</div>


						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
									<%= image_tag "hoody12.jpg", alt:"IMG-PRODUCT" %>

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="/products/details?category=hoodies&amount=45.00&p_name=Nicce Hoody&img=hoody12.jpg" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Buy Now
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/products/details?category=hoodies&amount=45.00&p_name=Nicce Hoody&img=hoody12.jpg" class="block2-name dis-block s-text3 p-b-5">
										Nicce Hoody
									</a>

									<span class="block2-price m-text6 p-r-5">
                                    €45.00
									</span>
								</div>
							</div>
						</div>

						


					<!-- Pagination -->
					<div class="pagination flex-m flex-w p-t-26">
						<a href="#" class="item-pagination flex-c-m trans-0-4 active-pagination">1</a>
						<a href="#" class="item-pagination flex-c-m trans-0-4">2</a>
					</div>
				</div>
			</div>
		</div>
	</section>
