<!-- Title Page -->
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(<%= image_path "heading-pages-06.jpg" %>);">
		<h2 class="l-text2 t-center">
			Trousers
		</h2>
		<p class="m-text13 t-center">
			Good for summer
		</p>
	</section>


	<!-- Content page -->
	<section class="bgwhite p-t-55 p-b-65">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
					<div class="leftbar p-r-20 p-r-0-sm">
						<!--  -->


						<!--  -->
						<h4 class="m-text14 p-b-32">
							Filters
						</h4>

						<div class="search-product pos-relative bo4 of-hidden">
							<input class="s-text7 size6 p-l-23 p-r-50" type="text" name="search-product" placeholder="Search Products...">

							<button class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4">
								<i class="fs-12 fa fa-search" aria-hidden="true"></i>
							</button>
						</div>

						<div class="filter-price p-t-22 p-b-50 bo3">
							<div class="m-text15 p-b-17">
								Price
							</div>

							<div class="wra-filter-bar">
								<div id="filter-bar"></div>
							</div>

							<div class="flex-sb-m flex-w p-t-16">
								<div class="w-size11">
									<!-- Button -->
									<button class="flex-c-m size4 bg7 bo-rad-15 hov1 s-text14 trans-0-4">
										Filter
									</button>
								</div>

								<div class="s-text3 p-t-10 p-b-10">
									Range: $<span id="value-lower">610</span> - $<span id="value-upper">980</span>
								</div>
							</div>
						</div>



					</div>
				</div>

				<div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
					<!--  -->
					<div class="flex-sb-m flex-w p-b-35">

						<span class="s-text8 p-t-5 p-b-5">
							Showing 1–12 of 12 results
						</span>
					</div>

					<!-- Product -->
					<div class="row">
						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                                    <%= image_tag "trouser1.jpg", alt:"IMG-PRODUCT" %>

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="/products/details?category=trousers&amount=75&p_name=Blue Denim Jeans&img=trouser1.jpg" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Buy Now
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/products/details?category=Sunglasses&amount=75&p_name=Blue Denim Jeans&img=trouser1.jpg" class="block2-name dis-block s-text3 p-b-5">
										Blue Denim Jeans
									</a>

									<span class="block2-price m-text6 p-r-5">
                                    €75.00
									</span>
								</div>
							</div>
						</div>

						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
                                    <%= image_tag "trouser2.jpg", alt:"IMG-PRODUCT" %>

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="/products/details?category=trouser&amount=45.50&p_name=Black Jean&img=trouser2.jpg" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Buy Now
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/products/details?category=trouser&amount=45.50&p_name=Black Jean&img=trouser2.jpg" class="block2-name dis-block s-text3 p-b-5">
										Black Jean
									</a>

									<span class="block2-price m-text6 p-r-5">
                                        €45.50
									</span>
								</div>
							</div>
						</div>

						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
                                <div class="block2-img wrap-pic-w of-hidden pos-relative">
                                    <%= image_tag "trouser3.jpg", alt:"IMG-PRODUCT" %>

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="/products/details?category=trouser&amount=125.99&p_name=Washed Blue Jean&img=trouser3.jpg" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Buy Now
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/products/details?category=trouser&amount=125.99&p_name=Washed Blue Jeand&img=trouser3.jpg" class="block2-name dis-block s-text3 p-b-5">
										Washed Blue Jean
									</a>

									<span class="block2-price m-text6 p-r-5">
                                    €125.99
									</span>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
									<%= image_tag "trouser4.jpg", alt:"IMG-PRODUCT" %>

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="/products/details?category=trouser&amount=39.99&p_name=Ripped Black Jean&img=trouser4.jpg" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Buy Now
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/products/details?category=trouser&amount=39.99&p_name=Ripped Black Jean&img=trouser4.jpg" class="block2-name dis-block s-text3 p-b-5">
										Ripped Black Jean
									</a>

									<span class="block2-price m-text6 p-r-5">
                                    €39.99
									</span>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
									<%= image_tag "trouser5.jpg", alt:"IMG-PRODUCT" %>

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="/products/details?category=trouser&amount=79.99&p_name=Grey Jean&img=trouser5.jpg" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Buy Now
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/products/details?category=trouser&amount=79.99&p_name=Grey Jean&img=trouser5.jpg" class="block2-name dis-block s-text3 p-b-5">
										Grey Jean
									</a>

									<span class="block2-price m-text6 p-r-5">
                                    €79.99
									</span>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
									<%= image_tag "trouser6.jpg", alt:"IMG-PRODUCT" %>

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="/products/details?category=trouser&amount=29.99&p_name=Black Joggers&img=trouser6.jpg" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Buy Now
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/products/details?category=trouser&amount=29.99&p_name=Black Joggers&img=trouser6.jpg" class="block2-name dis-block s-text3 p-b-5">
										Black Joggers
									</a>

									<span class="block2-price m-text6 p-r-5">
                                    €29.99
									</span>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
									<%= image_tag "trouser7.jpg", alt:"IMG-PRODUCT" %>

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="/products/details?category=trouser&amount=37.00&p_name=Yellow Tracksuit&img=trouser7.jpg" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Buy Now
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/products/details?category=trouser&amount=37.00&p_name=Yellow Tracksuit&img=trouser7.jpg" class="block2-name dis-block s-text3 p-b-5">
										Yellow Tracksuit
									</a>

									<span class="block2-price m-text6 p-r-5">
                                    €37.00
									</span>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
									<%= image_tag "trouser8.jpg", alt:"IMG-PRODUCT" %>

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="/products/details?category=trouser&amount=49.99&p_name=Black Slacks&img=trouser8.jpg" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Buy Now
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/products/details?category=trouser&amount=49.99&p_name=Black Slacks&img=trouser8.jpg" class="block2-name dis-block s-text3 p-b-5">
										Black Slacks
									</a>

									<span class="block2-price m-text6 p-r-5">
                                    €49.99
									</span>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
									<%= image_tag "trouser9.jpg", alt:"IMG-PRODUCT" %>

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="/products/details?category=trouser&amount=39.99&p_name=Straight Jean&img=trouser9.jpg" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Buy Now
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/products/details?category=trouser&amount=39.99&p_name=Straight Jean&img=trouser9.jpg" class="block2-name dis-block s-text3 p-b-5">
										Straight Jean
									</a>

									<span class="block2-price m-text6 p-r-5">
                                    €39.99
									</span>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
									<%= image_tag "trouser10.jpg", alt:"IMG-PRODUCT" %>

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="/products/details?category=trouser&amount=39.99&p_name=Adidas Sweats&img=trouser10.jpg" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Buy Now
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/products/details?category=trouser&amount=39.99&p_name=Adidas Sweats&img=trouser10.jpg" class="block2-name dis-block s-text3 p-b-5">
										Adidas Sweats
									</a>

									<span class="block2-price m-text6 p-r-5">
                                    €39.99
									</span>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
									<%= image_tag "trouser11.jpg", alt:"IMG-PRODUCT" %>

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="/products/details?category=trouser&amount=49.99&p_name=Red Chino&img=trouser11.jpg" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Buy Now
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/products/details?category=trouser&amount=49.99&p_name=Red Chino&img=trouser11.jpg" class="block2-name dis-block s-text3 p-b-5">
										Red Chino
									</a>

									<span class="block2-price m-text6 p-r-5">
                                    €49.99
									</span>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
									<%= image_tag "trouser12.jpg", alt:"IMG-PRODUCT" %>

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="/products/details?category=trouser&amount=59.99&p_name=Grey Slacks&img=trouser12.jpg" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Buy Now
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/products/details?category=trouser&amount=59.99&p_name=Grey Slacks&img=trouser12.jpg" class="block2-name dis-block s-text3 p-b-5">
										Grey Slacks
									</a>

									<span class="block2-price m-text6 p-r-5">
                                    €59.99
									</span>
								</div>
							</div>
						</div>
					
				</div>
			</div>
		</div>
	</section>
