<!-- Title Page -->
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(<%= image_path "heading-pages-06.jpg" %>);">
    <h2 class="l-text2 t-center">
        Login/Register
    </h2>
</section>

<p class="alert alert-danger"><%= flash[:alert] %></p>
<% if flash[:success] %>
  <p class="alert alert-success"><%= flash[:success] %></p>
<% end %>
<% if flash[:notice] %>
  <p class="alert alert-danger"><%= flash[:notice] %></p>
<% end %>

<section class="bgwhite p-t-66 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 p-b-30">
                    <form class="leave-comment" method="post" action="/customer/do_login">
						<h4 class="m-text26 p-b-36 p-t-15">
							Existing Customer
						</h4>

						<div class="bo4 of-hidden size15 m-b-20">
							<input class="sizefull s-text7 p-l-22 p-r-22" type="email" name="email" placeholder="Email Address">
						</div>

                        <div class="bo4 of-hidden size15 m-b-20">
							<input class="sizefull s-text7 p-l-22 p-r-22" type="password" name="password" placeholder="Password">
						</div>

						<div class="w-size25">
							<!-- Button -->
							<button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4" type="submit">
								Login
							</button>
						</div>
					</form>
				</div>

				<div class="col-md-6 p-b-30">
                    <%= form_for @customer do |f| %>
					<!-- <form class="leave-comment" method="post" action="/customer/create"> -->
						<h4 class="m-text26 p-b-36 p-t-15">
							New Customer
						</h4>

						<div class="bo4 of-hidden size15 m-b-20">
							<input required class="sizefull s-text7 p-l-22 p-r-22" type="text" name="first_name" placeholder="First Name">
						</div>

                        <div class="bo4 of-hidden size15 m-b-20">
							<input required class="sizefull s-text7 p-l-22 p-r-22" type="text" name="last_name" placeholder="Last Name">
						</div>

						<div class="bo4 of-hidden size15 m-b-20">
							<input required class="sizefull s-text7 p-l-22 p-r-22" type="text" name="phone-number" placeholder="Phone Number">
						</div>

						<div class="bo4 of-hidden size15 m-b-20">
                            <%= f.text_field :email %>
							<!-- <input required class="sizefull s-text7 p-l-22 p-r-22" type="text" name="email" placeholder="Email Address"> -->
						</div>

						<textarea class="dis-block s-text7 size20 bo4 p-l-22 p-r-22 p-t-13 m-b-20" name="message" placeholder="Address"></textarea>

						<div class="w-size25">
							<!-- Button -->
							<button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
								Register
							</button>
						</div>
                        <% end %>
					<!-- </form> -->
				</div>
			</div>
		</div>
	</section>
